.container {
  background-image: url('../../images/Cedar_park_home.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
}

.iconContainer {
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iconContainerSmall {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 25px;
}

.homeIcon {
  height: 75px;
  width: 75px;
}

.icons {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: #c1dff0;
  background: rgba(0,0,0,0.5);
  border-style: solid;
  border-radius: 1px;
  border-width: medium;
  border-color: #2d898b;
  width: 90%;
  margin: auto;
}

.smallHeaderWhy {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color:  #ffffff;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 25%;
  padding-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.smallHeaderDispute {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color:  #ffffff;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-align: left;
  width: 25%;
  padding-top: 50px;
  margin-bottom: 50px;
}

.heroHeader {
  font-family: 'Cinzel', serif;
  color:  #ffffff;
  font-size: 64px;
  letter-spacing: 0.2em;
  list-style: none;
  text-align: center;
  width: 100%;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.text {
  font-family: 'Cinzel', serif;
  color:  #ffffff;
  font-size: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-spacing: 5px;
}

.textContainer {
  height: 100%;
  width: 100%;
  background-color: #3587a4;
  padding-bottom: 50px;
}

.homeIcon {
  height: 50px;
  width: 50px;
}

.whyText {
  font-family: 'Cinzel', serif;
  color:  #ffffff;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 70%;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.footer {
  background-color: #2d848a;
  width: 100%;
  height: 30vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footerHeader {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color:  #ffffff;
  font-size: 32px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 25%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-decoration: underline;
}

.footerText {
  font-family: 'Cinzel', serif;
  color:  #ffffff;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  padding-bottom: 75px;
}