.container {
    background-image: url('../../images/Cedar_park_home.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    width: 100%;
    /* display: flex; */
  }
  
  .text {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color:  #ffffff;
    font-size: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    line-spacing: 5px;
  }

  .footer {
    text-align: center;
    background-color: #2d848a;
    width: 100%;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footerHeader {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color:  #ffffff;
    font-size: 32px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 25%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-decoration: underline;
  }
  
  .footerText {
    font-family: 'Cinzel', serif;
    color:  #ffffff;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    padding-bottom: 75px;
  }

  .formBox {
    margin: auto;
    width: 100%;
  }

  .header {
    margin: auto;
    width: 100%;
  }